#user-info {
    color: dimgrey;
    padding-left: 15px;
    background: white;

}

.user-pix {
    float: left;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: white;
    border-width: 15px;
}

#historyContainer {
    background: whitesmoke;
    margin-left: 15px;
}

#trafficBoxContainer {
    background: whitesmoke;
    margin-left: 0px;
}

.time-left {
    width: 10%;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 8pt;
    text-align: center;
    background: whitesmoke;
    color: darkblue;
    margin-right: 0px;
}

.time-left span {
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
}

.time-right {
    width: 10%;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 8pt;
    text-align: center;
    background: whitesmoke;
    color: darkblue;
    margin-right: 0px;
}


.traffic {
    width: 70%;
    padding-left: 0px;
    float: left;
    background: whitesmoke;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
}


.quarter {
    width: 20%;
    margin-top: 4px;
    background: whitesmoke;
    float: left;
}

.min {
    width: 27%;
    float: left;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background: orange;
    height: 25px;
    margin: 2px;
}


.sec {
    width: 7%;
    float: left;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    background: yellow;
    height: 32px;
    margin-right: 3px;
}


